:root {
  --primary-color: #0065fc;
}

@font-face {
  font-family: Raleway;
  src: url(bin/Raleway/Raleway-Italic-VariableFont_wght.ttf);
  src: url(bin/Raleway/Raleway-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Raleway;
}

body {
  background-color: #f2f2f2;
  margin-top: 0px;
}

.body {
  width: 1360px;
  display: flex;
  margin: auto;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
}

#logo {
  width: auto;
  height: 2.7rem;
  padding-top: 2.1rem;
}

.top_buttons {
  display: flex;
  justify-content: space-around;
}

.top_button_layout {
  margin-top: 0rem;
  padding-top: 3rem;
  padding-inline: 2rem;
}

#top_button:hover {
  border-top: 0.15rem var(--primary-color) solid;
  color: var(--primary-color);
  padding-top: 2.86rem;
  margin-top: auto;
}

#top_button3 {
  color: var(--primary-color);
  font-weight: bold;
}

h1 {
  font-size: 21px;
  font-weight: bold;
  padding-top: 0.5rem;
  margin-bottom: 0rem;
}

h2 {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
}

.search_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 25.5rem;
  max-height: 3rem;
  margin-bottom: 0.5rem;
}
#marker_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-color: #dddddd;
  border: #dddddd 0.1rem solid;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#marker_icon {
  font-size: 1.25rem;
}

#input_box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 8rem;
  border-top: #dddddd 0.1rem solid;
  border-bottom: #dddddd 0.1rem solid;
}

input[type="text"] {
  background: transparent;
  border: none;
}

#search_input {
  height: 1.5rem;
  width: 12rem;
  font-size: 1rem;
  font-weight: bold;
}

#button_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 8rem;
  background-color: var(--primary-color);
  border: var(--primary-color) 0.1rem solid;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#search_button {
  color: #f2f2f2;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 60rem;
  font-weight: bold;
}

#filter_tag {
  display: flex;
  align-items: center;
}

.filter_box {
  display: flex;
  align-items: center;
  border: #dddddd 0.1rem solid;
  height: 3rem;
  border-left: #deebff;
  border-radius: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.filter_box:hover {
  background-color: #deebff;
  border-color: #deebff;
}

.filters .icon_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  background-color: #deebff;
  border: #deebff 0.1rem solid;
  border-radius: 5rem;
  z-index: 1;
}

.icon_box > * {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.filters .text_box {
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.info_layout {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

#info_icon_box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #dddddd 0.1rem solid;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 2rem;
}

#info_icon {
  color: var(--primary-color);
}

#info_text {
  padding-left: 0.75rem;
}

.top_block {
  display: flex;
}

#main_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1.5rem;
  height: 37rem;
  width: 53.5rem;

  background-color: #dddddd;
  border: #dddddd 0.1rem solid;
  border-radius: 1.5rem;
}

.main_block_text {
  margin: 1rem;
  font-size: 21px;
  font-weight: bold;
}

#main_block_items {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  flex: 1;
}

.main_block_item {
  overflow: hidden;
  margin: 1rem;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px #b3b3b3;
  width: 15.27rem;
  height: auto;
  border: #f2f2f2 0.3rem solid;
  border-radius: 1.5rem;
}

.item_image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 100% 50%;
  width: 15.27rem;
  height: 7rem;
}

.item_name {
  padding-top: 0.6rem;
  padding-left: 0.6rem;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.2rem;
}

.item_price {
  padding-left: 0.6rem;
  margin: 0.2rem;
}

.item_stars {
  padding-left: 0.6rem;
  margin: 0.2rem;
}

.checked_star {
  color: var(--primary-color);
  font-size: 0.7rem;
}

.unchecked_star {
  color: #dddddd;
  font-size: 0.7rem;
}

#more {
  font-size: 1.15rem;
  font-weight: bold;
}

.side_block {
  height: 40rem;
  width: 26.1rem;
  background-color: #dddddd;
  margin-left: 2rem;
  border: #dddddd 0.1rem solid;
  border-radius: 1.5rem;
}

.side_block_top {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  padding-top: 3rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.side_block_text {
  font-size: 21px;
  font-weight: bold;
}

#side_block_icon {
  font-size: 21px;
}

.side_block_items {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.side_block_item {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 1rem;
  margin-top: 0.6rem;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px #b3b3b3;
  width: 21.28rem;
  height: 8.5rem;
  border: #f2f2f2 0.3rem solid;
  border-radius: 1.5rem;
}

.sbi_image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 100%;
  width: 9rem;
  height: 10rem;
}

.sbi_text > .item_stars {
  margin-top: 2.25rem;
}

.bot_block_title {
  font-size: 21px;
  font-weight: bold;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}

.activity_text {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  width: 18rem;
  height: 1rem;
  font-weight: bold;
}

.bot_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 28rem;
  width: auto;
  margin-bottom: 6rem;
}

.tall_item {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px #b3b3b3;
  width: 19rem;
  border-radius: 1.5rem;
  overflow: hidden;
}

.tall_image {
  width: 19rem;
  height: 30rem;
  object-position: 50% 50%;
  object-fit: cover;
}

.small_items {
  height: 28rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 19rem;
}

.small_item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1.5rem;
  width: 19rem;
  box-shadow: 0px 0px 10px #b3b3b3;
}

.small_image {
  height: auto;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  width: 19rem;
  height: 10rem;
}

footer {
  margin: -2.5rem;
  background-color: #dddddd;
}

.footer_block {
  width: 1360px;
  display: flex;
  margin: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer_title {
  font-weight: bold;
  font-size: 110%;
  margin-right: 19rem;
}

.footer_item {
  margin: 0rem;
  padding-top: 0.5rem;
  font-size: 90%;
}
